.model-wrapper{
  background-color: var(--background-color);
  color: var(--white);
  padding-top: 68px;
}
.movie-name{
  display: flex;
  padding: 20px 60px;
}
.movie-name > li{
  padding: 2px 4px;
  border-bottom: 1px solid var(--main-color);
}
.icon{
  color: var(--main-color);
  text-align: center;
}
.icon > svg {
  font-size: 12px;
}
.movie-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 24px 40px;
  justify-content: center;
}
.list-ep{
  margin-top: 12px;
}
.text-list-ep{
  margin-left: 60px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--main-color);
}
.ep{
  width: 100%;
  height: 100%;
  padding: 0 60px;
  display: flex;
  margin-top: 12px;
}
.ep-button{
  color: var(--white);
  font-size: 16px;
  float: left;
  padding: 8px 16px;
  margin-right: 2px;
  border-radius: 4px;
  background-color: rgba($color: #2f2d2d, $alpha: .5);
  transition: background-color .3s;
  cursor: pointer;
}
.ep-button:hover{
    background-color: rgba($color: #f3efef, $alpha: .5);
    color: var(--black);
  }

  