.model-wrapper{
  background-color: var(--background-color);
  color: var(--white);
  margin-top: 68px;
}
.movie-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 24px 40px;
  justify-content: center;
}
.list-ep{
  margin-top: 12px;
}
.text-list-ep{
  margin-left: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid #54b9c5;
}
.ep{
  width: 100%;
  display: flex;
  margin-top: 4px;
  padding: 4px 12px;
}
.ep-button{
  color: var(--white);
  font-size: 16px;
  float: left;
  padding: 8px 16px;
  background-color: var(--background-color);
  transition: background-color .3s;
}
.ep-button:hover{
    background-color: #ddd;
    color: var(--black);
  }
// .ep-button:active{
//   background-color: #54b9c5;
//   color: var(--black);
// }
.activing{
  background-color: #54b9c5;
  color: var(--black);
}