.search {
    height: 50%;
    display: flex;
    align-items: center;
    background: rgba(22, 24, 35, 0.06);
    padding: 16px 0;
    border-radius: 30px;
    border: 1px solid hsl(0,0%,18.82%);
    &:focus-within{
        border: 1px solid #1c62b9 ;
    }
}
.search-input{
    height: 24px;
    width: 300px;
    padding-left: 16px;
    // background-color: var(--background-color);
    background-color: transparent;
    border-radius: 30px;
    color: var(--white);
    text-align: inherit;
    font-size: 16px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.clear{
    font-size: 12px;
    color: rgb(128, 128, 128);
    background-color: transparent;
    padding-right: 4px;
    cursor: pointer;
}
.search-btn{
    height: 33px;
    background-color: rgb(255 255 255 / 8%);
    color: var(--white);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 16px;
    padding:0 16px 0 12px;
    cursor: pointer;
}
.recommend-box{
    width: 365px;
    max-height: 400px;
    padding: 28px 0 0;
    background-color: #212121;
    border: 1px solid hsl(0,0%,18.82%);
    border-radius: 16px;
    overflow: auto;
}
.recommend-box::-webkit-scrollbar{
    display: none;
}



@media (max-width: 768px) { 
   .search-input{
       width: 200px;
   }
   .recommend-box{
        width: 265px;
        padding: 20px 0 0 0;
   }
}

@media (max-width: 576px) { 
    .search-input{
        width: 100px;
        font-size: 12px;
    }
}
@media (max-width: 480px) { 
    .search-input{
        width: 55px;
        font-size: 12px;
    }
}