.wrapper{
    height: 68px;
    display: flex;
    // background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    transition: .5s ease-in-out;
    &:hover{
        background-color: var(--background-color);
    }
}
.background{
    background-color: var(--background-color);
    transition: 0.5s;
}
.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;    
}
.content .logo{
    height: 100%;
    padding-right: 40px;
}
.content .logo > img{
    height: 100%;
}
.header-list{
    width: 100%;
}
.header-list > ul{
    color: var(--white);
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    text-shadow: var(--black) 0.1em 0.1em 0.2em;
}
.header-list ul li::after {
    content: "";
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #42a3f9, #3ea6ff);
    display: block;
    transition: .5s;
}
.header-list ul li:hover::after{
    width: 100%;
    padding: 0 1px;
}
.header-list .active::after{
    width: 100%;
    padding: 0 1px;
}
.header-list ul li{
    padding: 12px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.login{
    padding-left: 20px;
    background-color: transparent;
}
.login-btn{
    width: 96px;
    font-size: 16px;
    background-color: transparent;
    color: var(--main-color);
    padding: 8px 20px;
    border: 1px solid hsl(0,0%,18.82%);
    border-radius: 16px;
    &:hover{
        cursor: pointer;
        background-color: rgba(62, 166, 255, 0.3);
    }
}
.user-avt{
    border-radius: 20px;
    height: 50%;
    margin-left: 12px;
    cursor: pointer;
}
