.wrapper{
    height: 68px;
    display: flex;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;    
}
.logo{
    height: 100%;
    padding-right: 20px;
    cursor: pointer;
}
.logo > img{
    height: 100%;
}
.header-list{
    width: 100%;
}
.header-list > ul{
    color: var(--white);
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
}
.header-list > ul > li{
    padding: 12px;
    cursor: pointer;
}

.login{
    padding-left: 20px;
    background-color: transparent;
}
.login-btn{
    width: 96px;
    font-size: 16px;
    background-color: transparent;
    color: #3ea6ff;
    padding: 8px 20px;
    border: 1px solid hsl(0,0%,18.82%);
    border-radius: 16px;
    &:hover{
        cursor: pointer;
        background-color: rgba(62, 166, 255, 0.3);
    }
}
.user-avt{
    border-radius: 20px;
    height: 50%;
    margin-left: 12px;
    cursor: pointer;
}
