@import 'normalize.css';

:root{
    --background-color: rgb(20, 20, 20);
    --white: white;
    --black: black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
@font-face {
    font-family: Netflix Sans;
    src: url('/assets/fonts/NetflixSans_W_Rg.woff2');
}
body{
    font-family: "Netflix Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button, input, [tabindex] {
    outline: none;
    border: none;
}
ul, li{
    list-style: none;
}
a[href]{
    color: var(--white);
    text-decoration: none;
}