.wrapper{
    padding: 120px 60px;
    color: var(--white);
    background-color: var(--background-color);
}
.page-title{
    margin-bottom: 20px;
}
.content{
    content: "";
    display: table;
    clear: both;
}
.single-content{
    display: flex;
    justify-content: center;
    float: left;
    width: 25%;
    padding: 24px 0;
}



@media (max-width: 768px) { 
    .single-content{
        width: 33.3333%;
    }
 }

 @media (max-width: 600px) { 
    .single-content{
        width: 50%;
    }
 }

 @media (max-width: 480px) { 
    .single-content{
        width: 100%;
    }
 }
